<!-- views/homepage.handlebars -->

<!-- Display existing blog posts -->
{{#if Posts.length}}
  <h1>Existing Blog Posts:</h1>
  <ul>
    {{#each Posts}}
      <li>
        <h2>{{title}}</h2>
        <p>Published on {{formatDate createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  
{{/if}}
<h1>Welcome to My Blog</h1>
  <h2>Recent Blog Posts</h2>
  {{#each posts}}
    <h3>{{title}}</h3>
    <p>{{createdAt}}</p>
    <hr>
  {{else}}
    <p>No blog posts found.</p>
  {{/each}}

